<div class="container">
	<div class="jumbotron text-center">
		<h2>FireFinder微信小程序</h2>
		<h4>分享/发现/创造</h4>
		<p>来FireFinder找到想要的，让一切变得简单；来FireFinder分享，让生活变得美好！</p>
		<form class="form-inline">
    <div class="input-group">
      <input type="search" class="form-control" size="50" placeholder="搜索微信小程序" required>
      <div class="input-group-btn">
        <button type="button" class="btn btn-warning">发现好程序</button>
      </div>
    </div>
  </form>
	</div>
	</div>

	<div class="container">
	
		<div class="row text-center">
			<% @apps.each do |app| %>
				<div class="col-xs-6 col-md-3">

					<%= link_to app_path(app) do  %>
						
						<% if app.image.present? %>
							<%= image_tag(app.image.thumb.url, class: "thumbnail") %>
						<% else %>
							<%= image_tag("http://placehold.it/100x100&text=No Pic", class: "thumbnail") %>
						<% end %>
						
					<% end %>
					<div class="text-center">
						<h3><%= app.title %></h3>
					</div>

			</div>
		<% end %>

	</div>
	


