<div class="container-fluid text-center bg-1">
	<h3>我是谁？</h3>
	<img src="http://7xjhux.com1.z0.glb.clouddn.com/2017-02-02-041900.jpg" width="150" height="150" class="img-circle img-responsive" style="display: inline" alt="Bird">
	<h3>RoR初学者，FireFinder是我的第一个作品！</h3>
</div>

<div class="container-fluid bg-2 text-center">
  <h3>FireFinder可以做什么？</h3>
  <hr class="intro-divider">
  <p>一个简单的分享和发现微信小程序的网站！<br>想找到好的应用，可以到FireFinder来逛逛；有好的程序推荐，非常欢迎分享，如果您是程序创建者，也非常欢迎到此发布！</p>
  <a href="/apps" class="btn btn-danger btn-lg"><span class="glyphicon glyphicon-search"></span>发现好程序</a>
  <a href="apps/new" class="btn btn-danger btn-lg "><span class="fa fa-users fa-fw"></span>分享好程序</a>
</div>

<div class="container-fluid bg-3 text-center">
  <h3>使用帮助</h3>
  <hr class="intro-divider">
  <div class="row">
  	<div class="col-md-4">
  		<h3>开通</h3>
      <p>微信升级到最新版本，打开微信，找到搜索按钮，输入【小程序示例】，出来的结果不出意外第1个就是，点击它，退出搜索，来到微信发现，小程序功能就开通了。</p><br>
  		<img src="http://7xjhux.com1.z0.glb.clouddn.com/2017-02-02-op2eq5g-zkw-william-iven-1.jpg" class="img-responsive" style="width: 100%" alt="Image">
  	</div>
  	<div class="col-md-4">
      <h3>使用</h3>
  		<p>在「发现」点击「小程序」进入后台,搜索程序或扫描二维码图片添加，目前不支持模糊搜索，即意味要输入全称及符号。本站所有APP都用全称，输入即可找到，同进扫描二维码也可直接添加喜爱的程序！</p>
  		<img src="http://7xjhux.com1.z0.glb.clouddn.com/2017-01-31-landpage3.jpg" class="img-responsive" style="width: 100%" alt="Image">
  	</div>
  	<div class="col-md-4">
      <h3>反馈</h3>
  		<p>您的宝贵意见是我们进步的基础，使用过程中如果有任何问题，请随时与我联系，真诚期待您的反馈；如果你是程序开发者，欢迎指正交流！</p>
      <i class="fa fa-weixin fa-fw" aria-hidden="true"></i><a href="http://7xjhux.com1.z0.glb.clouddn.com/2017-02-02-035644.jpg">Lexue16</a>
      <i class="fa fa-github fa-fw" aria-hidden="true"></i><a href="https://github.com/fanliangchun/">Github</a>
      <img src="http://7xjhux.com1.z0.glb.clouddn.com/2017-01-31-landpage4.jpg" class="img-responsive" style="width: 100%" alt="Image">
  	</div>
  </div>
</div>