/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

body {
  padding-top :70px;
  min-height :1500px;
}

.jumbotron {
  padding : 100px 25px;
  
  
}

.thumbnail {
    border: 0 none;
    box-shadow: none;

}

.message {
  border: 0 none;
  box-shadow: none;
  padding-top: 30px;
  padding-left: 50px;
}

/* Search on navbar */
#search-id {
  width: 300px;
  padding-top: 12px;
}

.apps-show0 {
  border-bottom: 1px dotted #CCC;
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 15px;
  font-family: PingFangSC-Medium, Arial, Helvetica, sans-serif;
}

.apps-show {
  border-bottom: 1px dotted #CCC;
  padding: 15px;
  font-family: PingFangSC-Medium, Arial, Helvetica, sans-serif;
}



/* Search.html.erb
*/

.search-info-title {
  font-family: PingFangSC-Medium, Arial, Helvetica, sans-serif;
  color: #0d6ded;
  font-size: 20px;
  text-align: center;
}