


    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="list-inline">
                        <li>
                            <a href="/">首页</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="/about">关于</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="apps/new">分享</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="apps">发现</a>
                        </li>
                    </ul>
                    <p class="copyright text-muted small">Copyright &copy; FireFinder 2017. All Rights Reserved</p>
                </div>
            </div>
        </div>
    </footer>
