<div class="row">
<div class="navbar navbar-inverse ">
	<div class="container">
		<div class="navbar-text">
			<p>Copyright ©2017 FireFinder Design by <a href="/">Fanliangchun</a></p>
		</div>
	</div>
</div>
</div>
